.btn{
	margin: 20px auto;
	border: none;
	padding: 10px 44px;
	font-size: 36px;
    position: relative;
    transition: all 0.5s cubic-bezier(.68, -0.55, 0.265, 1.55);
}
.btn::before{
	transition: all 0.5s cubic-bezier(.68, -0.55, 0.265, 1.55);
	content: '';
	width: 50%;
	height: 100%;
	background:black;
	position: absolute;
	top: 0;
	left: 0;
}

.btn:focus{
    outline: none;
}
.btn-text{
	color: white;
    mix-blend-mode: difference;
}
.btn:hover::before{
	background: black;
	width: 100%;
}